        body {
        padding-top: 10px;
        padding-bottom: 5px;
    }
    
    .header,
    .marketing,
    .footer {
        padding-right: 15px;
        padding-left: 15px;
    }
    /* Custom page header */
    
    .header {
        border-bottom: 1px solid #e5e5e5;
    }
    /* Make the masthead heading the same height as the navigation */
    
    .header h3 {
        padding-bottom: 8px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
    }
    /* Custom page footer */
    /* Customize container */
    
    @media (min-width: 768px) {
        .container {
            max-width: 730px;
        }
    }
    
    .container-narrow > hr {
        margin: 30px 0;
    }
    /* Main marketing message and sign up button */
    /* Supporting marketing content */
    
    .marketing {
        margin: 40px 0;
    }
    
    .marketing p + h4 {
        margin-top: 28px;
    }
    /* Responsive: Portrait tablets and up */
    
    @media screen and (min-width: 768px) {
        /* Remove the padding we set earlier */
        .header,
        .marketing,
        .footer {
            padding-right: 0;
            padding-left: 0;
        }
        /* Space out the masthead */
        .header {
            margin-bottom: 10px;
        }
        .spinner {
            margin: 260px auto;
            width: 50px;
            height: 50px;
            text-align: center;
            font-size: 10px;
        }
        .spinner > div {
            background-color: mediumseagreen;
            height: 100%;
            width: 6px;
            display: inline-block;
            -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
            animation: sk-stretchdelay 1.2s infinite ease-in-out;
        }
        .spinner .rect2 {
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s;
        }
        .spinner .rect3 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }
        .spinner .rect4 {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s;
        }
        .spinner .rect5 {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
        }
        @-webkit-keyframes sk-stretchdelay {
            0%,
            40%,
            100% {
                -webkit-transform: scaleY(0.4)
            }
            20% {
                -webkit-transform: scaleY(1.0)
            }
        }
        @keyframes sk-stretchdelay {
            0%,
            40%,
            100% {
                transform: scaleY(0.4);
                -webkit-transform: scaleY(0.4);
            }
            20% {
                transform: scaleY(1.0);
                -webkit-transform: scaleY(1.0);
            }
        }
        #mask {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .3);
        }
        .arr {
            list-style: none;
            width: 750px;
            height: auto;
            overflow: hidden;
            position: fixed;
            left: 50%;
            top: 50%;
            padding-left: 0;
            margin-left: -375px;
            z-index: 1000;
        }
        .arr a {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
        .prev,
        .next {
            /* position: fixed;
         top: 50%; */
            cursor: pointer;
        }
        .prev {
            float: left;
        }
        .next {
            float: right;
        }
        .nav-pills > li.active > a,
        .nav-pills > li.active > a:hover,
        .nav-pills > li.active > a:focus {
            background-color: mediumseagreen;
        }
        .nav-pills > li > a {
            color: mediumseagreen;
        }
        .badge {
            background-color: mediumseagreen;
        }
        .text-right {
            float: right;
            margin-top: 12px;
            margin-bottom: 0;
        }
        .footer p {
            margin-bottom: 0;
        }
        .footer {
            padding-top: 11px;
            color: #777;
            border-top: 1px solid #e5e5e5;
        }
        // 搜索框
        * {
            box-sizing: border-box;
        }
        .header {
            position: relative;
        }
        div.search {
            position: absolute;
            top: 0;
            left: 60%;
        }
        .d6 {
            background: #B46381;
        }
        .d6 form {
            height: 34px;
        }
        .d6 input {
            width: 0;
            padding: 0 130px 0 15px;
            border: none;
            border-bottom: 2px solid transparent;
            outline: none;
            background: transparent;
            transition: .4s cubic-bezier(0, 0.8, 0, 1);
            position: absolute;
            top: 9px;
            right: 0;
            z-index: 2;
            font-size: 16px;
            height: 30px;
            margin-right: 42px;
        }
        .d6 input:focus {
            width: 270px;
            z-index: 1;
            border-bottom: 2px solid rgba(79, 220, 142, 0.25);
        }
        .d6 button {
            background: mediumseagreen;
            border: none;
            height: 35px;
            width: 45px;
            position: absolute;
            top: 3px;
            right: 0;
            cursor: pointer;
            border-radius: 6px;
            cursor: pointer;
        }
        .d6 button:before {
            content: "\f002";
            font-family: FontAwesome;
            font-size: 16px;
            color: #F9F0DA;
        }
        #container .jumbotron {
            padding-right: 15px;
            padding-left: 15px;
            padding-top: 15px;
            text-align: left;
        }
        .img {
            float: left;
            padding-right: 10px;
        }
        .summary {
            text-indent: 2em;
            font-size: 17px;
            font-family: consolas, sans-serif;
        }
        .heading {
            font-weight: 600;
            margin: 0 0 10px 323px;
        }
        h1 {
            font-size: 30px;
            margin-top: 10px;
        }
        .list-group {
            margin-bottom: 10px;
        }
        .disabled {
            pointer-events: none;
        }
